In [18]:
import pandas as pd
data = pd.read_csv("deliveries.csv")
data.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

### dropna

row wise remove nulls

remove if any col is null remove whole row

In [5]:
data.shape

(150460, 21)

In [ ]:
data.dropna(axis=0, how="any").shape # means 5369 rows are have full data

(5369, 21)

In [ ]:
data.dropna(axis=0, how="all").shape # no single row has all null values

(150460, 21)

col wise

In [8]:
data.dropna(axis=1, how="any").shape

(150460, 18)

In [9]:
data.dropna(axis=1, how="all").shape

(150460, 21)

clean data based on player_dismissed

In [20]:
data.dropna(subset=["player_dismissed"]).shape # if player_dismissed = null then remove

(7438, 21)

clean data based on player_dismissed and dismissal_kind

In [16]:
data.dropna(subset=["penalty_runs", "legbye_runs"]).shape

(150460, 21)

### fillna - fill values of null

data filled by single value doesn't matter what data type

In [22]:
data.fillna(0).head(3)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,0,0,0

data fill on fielder as "Not provide"

In [24]:
data['fielder'].fillna("Not provide", inplace=True)

C:\Users\devan\AppData\Local\Temp\ipykernel_27708\2261174324.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['fielder'].fillna("Not provide", inplace=True)

In [26]:
data.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,Not provide
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,Not provide

data fill based on prev data

In [ ]:
data['fielder'].fillna(method="ffill")

C:\Users\devan\AppData\Local\Temp\ipykernel_27708\4271924530.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['fielder'].fillna(method="ffill")

0         Not provide
1         Not provide
2         Not provide
3         Not provide
4         Not provide
             ...
150455    Not provide
150456        NV Ojha
150457    Not provide
150458    Not provide
150459    Not provide
Name: fielder, Length: 150460, dtype: object

fill data based on next data

In [ ]:
data['fielder'].fillna(method="bfill")

C:\Users\devan\AppData\Local\Temp\ipykernel_27708\1352644317.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['fielder'].fillna(method="bfill")

0         Not provide
1         Not provide
2         Not provide
3         Not provide
4         Not provide
             ...
150455    Not provide
150456        NV Ojha
150457    Not provide
150458    Not provide
150459    Not provide
Name: fielder, Length: 150460, dtype: object